block header 
  header.site-header
    .row.align-items-center
      .col-5.col-md-3
      .col-2.col-md-6.text-center.site-logo-wrap
        a.site-logo(href='index.html') N
      .col-5.col-md-3.text-right.menu-burger-wrap
        a.site-nav-toggle.js-site-nav-toggle(href='#')
          i
    // site-header
  #section-home.main-wrap
    .cover_1.overlay.bg-light
      .img_bg(style='background-image: url(images/Final.jpg);' data-stellar-background-ratio='0.5')
        .container
          .row.align-items-center.justify-content-center.text-center
            .col-md-10(data-aos='fade-up')
              h2(class='heading') Nineteen