.site-wrap
  nav#ftco-navbar-spy.site-menu
    #ftco-navbar.site-menu-inner
      ul.list-unstyled
        li
          a(href='#section-home') Home
        li
          a(href='#intro') About Us
        li
          a(href='Contacts.html') Contacts
        li
          a(href='menu.html') Mess Menu
        li
          a(href='#section-contact') Contact Us
        li
          a(href='') Team
