
.row
  .ftco-46
    .ftco-46-row.d-flex.flex-column.flex-lg-row
      .ftco-46-image(style='background-image: url(images/img_1.jpg);')
      .ftco-46-text.ftco-46-arrow-left
        h4.ftco-46-subheading Chinese
        h3.ftco-46-heading eaterie.Dish_name
        small.text-secondary(style='font-size:75%') 9 AM - 2 PM
        p.mb-5
          | Tips are not expected in Chinese restaurants. The service fee is included in the food prices.
          br
          br
        a.btn-link(href='tel:+917300116308')  Call
        p
          a.btn-link(href='#')
            | Menu 
            span.ion-android-arrow-forward
    